.scroll-container {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
}

.scroll-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.scroll-img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
